<mat-card>
  <mat-card-header>
    <mat-card-title>Ingresa la nueva tarea</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Tarea</mat-label>
        <input matInput type="text" placeholder="" [(ngModel)]="auxTask.tarea" (input)="taskInput()" required>
        <mat-error *ngIf="showError">Tienes que especificar la tarea</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Domingo</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.domingo">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Lunes</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.lunes">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Martes</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.martes">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Miércoles</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.miercoles">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Jueves</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.jueves">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Viernes</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.viernes">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Sábado</mat-label>
        <input matInput type="number" placeholder="0" [(ngModel)]="auxTask.sabado">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="saveNewTask()">Guardar</button>
    <button mat-button (click)="closeModal()">Cancelar</button>
  </mat-card-actions>
</mat-card>